:root {
    --color-lighter: #efedf8;
    --color-light: #d0cde1;
    --color-spc: #a36bff;
    --color-dark: #3f3d56;
    --color-darker: #2f2e41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-lighter);
    font: 500 1.2rem Poppins;
    font-family: Ubuntu, sans-serif;
    height: 200vh;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--color-darker);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-spc);
}

#menu {
    padding: 20px;
    justify-content: left;
    background-color: var(--color-lighter);
    position: fixed;
}

#menu a {
    margin: 20px;
    color: var(--color-darker);
}