:root {
    --color-lighter: #efedf8;
    --color-mid-light: #dedcea;
    --color-light: #d0cde1;
    --color-spc: #a36bff;
    --color-dark: #3f3d56;
    --color-darker: #2f2e41;
    --color-darkiest: #12121d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-darker);
}

body {
    background-color: var(--color-lighter);
    font: 500 1.2rem Poppins;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100vh;
    transition: background 0.2s linear;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--color-darker);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-spc);
}

body.dark::-webkit-scrollbar-track {
    background: var(--color-lighter);
}

body.dark, body.dark .menu-nav,
body.dark .modes {
    background-color: var(--color-darkiest);
}

body.dark h5, body.dark h1,
body.dark h3, body.dark a,
body.dark p {
    color: var(--color-lighter);
}

body.dark .navigation-icon {
    filter: invert(99%) sepia(14%) saturate(4256%) hue-rotate(181deg) brightness(97%) contrast(81%);
}