#menu {
    display: flex;
    /*padding: 20px;*/
    justify-content: left;
    background-color: var(--color-lighter);
    /*position: fixed;*/
}

#menu a {
    margin: 20px;
    color: var(--color-darker);
    transition: 0.2s;
}

#menu a:hover {
    color: var(--color-spc);
}

#present {
    height: 50vh;
    width: 80vw;
    margin: 15vh auto auto auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 50vh 1fr;
    grid-template-areas:
        "present present image";
}

#present .text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    color: var(--color-darker);
}

#present .text h5 {
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
}

#present .text h1 {
    font-size: 4rem;
    display: flex;
    align-items: center;
}

#present .text h3 {
    font-size: 2rem;
}

#present .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#present .image img{
    height: 45vh;
}