#about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .about-area {
    width: 900px;
    height: 50vh;
    margin: 25vh auto 25vh auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr;
}

#about .about-area .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-spc);
    font-weight: 700;
    font-size: 3rem;
}

#about .about-area .description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#about .image {
    align-items: center;
    justify-content: center;
    display: flex;
}

#about .image img {
    width: 250px;
    border-radius: 50%;
}

#about .desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    height: 100vh;
}

#skills {
    height: 100vh;
}

#other {
    height: 100vh;
}

#secondary-pages {
    display: block;
}

#secondary-pages #navigation {
    height: 100vh;
    width: 64px;
    position: fixed;
    top: 30%;
}

#navigation .nav-bar {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navigation li {
    margin: 10px 20px 10px 20px;
    list-style-type: none;
}